 <div class="row">
    <div class="col-md-12">
        <mat-card>
            <mat-card-title>
                User Login:  
            </mat-card-title>
            <mat-card-content>
                <div class="col-md-12" >
                    <form [formGroup]="signInForm" (ngSubmit)="submitSignInForm()">
                        <div class="example-container">
                            <mat-form-field appearance="fill">
                              <mat-label>Enter your email</mat-label>
                              <input matInput placeholder="pat@example.com" formControlName="userName" required>
                              <mat-error *ngIf="signInForm.controls['userName'].invalid">{{getErrorMessage()}}</mat-error>
                            </mat-form-field>
                          </div>

                        <div class="col-md-12" >
                        <button mat-raised-button type="submit"  color="accent">Sign in</button>
                        </div>
                    </form>
                </div>             
            </mat-card-content>
            <mat-card-actions>
                <!-- <button mat-raised-button (click)="signin()" color="primary">Sign in</button> -->
            </mat-card-actions>
        </mat-card>
    </div>
</div> 
